<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title><%= [current_article&.title, "Dingus"].compact.join(" | ") %></title>
    <% if is_blog_article? && current_article.data.description.present? %>
    <meta name="description" content="<%= current_article.data.description %>" />
    <% else %>
    <meta name="description" content="A brief technical post every other week from Chris Lowder"/>
    <% end %>

    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "site", "code" %>
  </head>
  <body class="font-sans bg-fixed dark:bg-neutral-800 dark:text-gray-300">
    <div id="main" role="main" class="max-w-screen-sm p-4 mx-auto">
      <header class="mb-12 mt-8 font-serif">
        <h1 class="font-black text-xl md:text-3xl leading-tight hover:underline"><a href="/">dingus</a></h1>
        <p class="italic">/ˈdɪŋəs/ Something whose name is unknown or forgotten</p>
      </header>

      <% if is_blog_article? %>
        <article>
          <header class="mb-4">
            <h1 class="text-2xl md:text-4xl font-bold leading-tight"><%= title(current_article.title) %></h1>
            <p class="text-sm"><%= current_article.date.strftime("%B %Y") %></p>
          </header>
          <main class="prose dark:prose-invert prose-pre:bg-inherit">
            <%= current_article.body %>
          </main>
        </article>
      <% else %>
        <%= yield %>
      <% end %>
    </div>
  </body>
</html>
